.modal {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 100;
  font-family: "Cabinet Grotesk", sans-serif;
}

.modal_is-opened {
  display: flex;
}

.modal__content {
  background-color: #fff;
  width: 496px;
  min-height: 436px;
  padding: 28px;
  border-radius: 20px;
  box-sizing: border-box;
  position: relative;
}

.modal__close {
  position: absolute;
  top: 20px;
  right: 20px;
  background: transparent;
  border: none;
  font-size: 20px;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.3);
}

.modal__title {
  margin: 0 0 24px;
  font-size: 16px;
  font-weight: 500;
}

.modal__form {
  display: flex;
  flex-direction: column;
}

.modal__submit {
  width: 124px;
  height: 36px;
  background-color: rgba(0, 0, 0, 0.3);
  border: none;
  border-radius: 4px;
  font-size: 16px;
  white-space: nowrap;
}
