.modal {
  position: fixed;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
  font-family: "Cabinet Grotesk", sans-serif;
  background: rgba(0, 0, 0, 0.3);
}

.modal__overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);
}

.modal__content {
  background-color: #fff;
  width: 496px;
  padding: 28px;
  border-radius: 20px;
  box-sizing: border-box;
  position: relative;
  z-index: 1;
}

.modal__close {
  position: absolute;
  top: 20px;
  right: 20px;
  background: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
}

.modal_with_form__title {
  margin: 0 0 24px;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  padding-left: 0;
  text-align: left;
}

.modal__form {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.modal__label {
  display: flex;
  flex-direction: column;
  font-family: "Cabinet Grotesk", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
}

.modal__input {
  height: 24px;
  border: none;
  border-bottom: 1px solid #000;
  padding: 0;
  background-color: #fff;
  outline: none;

  font-family: "Cabinet Grotesk", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  color: #000;
}

.modal__input::placeholder {
  color: rgba(0, 0, 0, 0.5);
}

.modal__submit {
  padding: 0 16px;
  height: 36px;
  background-color: #000;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  white-space: nowrap;

  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal__submit:hover {
  background-color: rgba(0, 0, 0, 0.6);
  cursor: pointer;
}

.modal__submit:disabled {
  background-color: rgba(0, 0, 0, 0.3);
  cursor: pointer;
  color: #fff;
}

.modal_type_login .modal__content {
  min-height: 304px;
}

.modal_type_register .modal__content {
  min-height: 456px;
}

.modal_type_edit-profile .modal__content {
  min-height: 304px;
}
.modal__buttons {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-top: 30px;
}

.modal__secondary-button {
  display: flex;
  align-items: center;

  border: none;
  background: transparent;
  padding: 0;

  cursor: pointer;

  font-family: "Cabinet Grotesk", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;

  color: rgba(0, 0, 0, 0.5);
}

@media screen and (max-width: 600px) {
  .modal {
    padding: 0 16px;
    box-sizing: border-box;
  }

  .modal__content {
    width: 100%;
    max-width: 496px;
    padding: 24px 20px;
  }

  .modal__buttons {
    flex-wrap: wrap;
  }
}
