.toggle {
  position: relative;
  width: 56px;
  height: 28px;
  border: 2px solid #888;
  border-radius: 20px;
  display: inline-flex;
  align-items: center;
  cursor: pointer;
}

.toggle:hover {
  border: 2px solid #000;
}

.toggle input {
  display: none;
}

.toggle__slider {
  position: absolute;
  width: 24px;
  height: 24px;
  background: #000;
  border-radius: 50%;
  left: 2px;
  transition: left 0.2s;
}

.toggle input:checked + .toggle__slider {
  left: 30px;
}

.toggle__label {
  font-size: 12px;
  width: 50%;
  text-align: center;
  z-index: 1;
  color: #888;
}

.toggle:hover > .toggle__label {
  color: #000;
}

.toggle__label_active,
.toggle:hover > .toggle__label_active {
  color: #fff;
}
