.profile {
  display: flex;
  align-items: flex-start;
  gap: 40px;
}

.sidebar {
  width: 325px;
  flex-shrink: 0;
  padding-top: 32px;
}

.clothes-section {
  flex-grow: 1;
  padding-top: 32px;
  margin-left: -40px;
}

@media screen and (max-width: 900px) {
  .profile {
    flex-direction: column;
    gap: 24px;
    padding: 0 32px;
  }

  .sidebar {
    width: 100%;
    margin-left: 0;
  }

  .profile .clothes-section {
    width: 100%;
    max-width: 100%;
    padding-top: 0;
    margin-left: 0;
  }
}

@media screen and (max-width: 600px) {
  .profile {
    flex-direction: column;
    gap: 24px;
    padding: 0 16px;
  }

  .sidebar {
    width: 100%;
    margin-left: 0;
  }

  .profile .clothes-section {
    width: 100%;
    max-width: 100%;
    padding-top: 0;
    margin-left: 0;
  }
}
