.item-card {
  width: 325px;
  height: 328px;
  background-color: #f3f3f3;
  border-radius: 16px;
  box-sizing: border-box;
  cursor: pointer;
  position: relative;
  border: 1px solid rgba(0, 0, 0, 0.3);
  padding: 0;
  display: flex;
  justify-content: start;
  align-items: center;
  overflow: hidden;
}

.item-card__image {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.item-card__title {
  background-color: #ffffff;
  padding: 2px 12px;
  border-radius: 4px;

  font-family: "Cabinet Grotesk", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: rgba(0, 0, 0, 0.6);
}

.item-card__header {
  position: absolute;
  top: 16px;
  left: 50%;
  transform: translateX(-50%);

  display: flex;
  align-items: center;
  gap: 10px;

  z-index: 1;
}

.item-card__like-button {
  width: 18px;
  height: 15px;

  border: none;
  background-color: transparent;
  padding: 0;
  cursor: pointer;

  background-image: url("../../assets/like-buttons/like-button.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.item-card__like-button_active {
  background-image: url("../../assets/like-buttons/like-button-active.svg");
}

@media screen and (max-width: 600px) {
  .item-card {
    width: 100%;
    max-width: 325px;
    height: 328px;
  }
}
