.weather {
  margin-top: 28px;
  box-sizing: border-box;
}

.weather__bar {
  max-width: 1360px;
  padding: 0 40px;
  height: 80px;

  background-color: #00a3ff;
  border-radius: 16px;
  overflow: hidden;

  display: flex;
  align-items: center;

  position: relative;
}

.weather__temp {
  font-family: "Cabinet Grotesk", sans-serif;
  font-size: 36px;
  font-weight: 700;
  color: #ffffff;

  margin-left: 16px;
  z-index: 2;
}

.weather__sun {
  position: absolute;
  width: 60px;
  height: 60px;
  right: 0px;
  top: -10px;
}

.weather__cloud {
  position: absolute;
  width: 167px;
  height: 98px;
  right: 0px;
  bottom: -10px;
}
