.main {
  max-width: 1360px;
  margin: 0 auto;
}

.clothes-section__title {
  font-family: "Cabinet Grotesk", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
  margin: 32px 0 24px;
}
