.header__menu-button {
  display: none;
  background: none;
  border: none;
  font-size: 28px;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .header__menu-button {
    display: block;
  }

  .header__right {
    display: none;
  }

  .header__right_opened {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
}
