.modal {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);
  display: none;
  justify-content: center;
  align-items: center;
  color: #000;
}

.modal_is-opened {
  display: flex;
}

.modal__content.modal__content_type_image {
  width: 498px;
  height: 610px;
  background-color: #ffffff;
  border-radius: 16px;
  box-sizing: border-box;
  padding: 0;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
}

.modal__image {
  width: 100%;
  height: 498px;
  object-fit: contain;
  display: block;
  background-color: #f3f3f3;
}

.modal__title {
  padding-left: 32px;
  padding-top: 16px;
  padding-bottom: 0;
  margin: 0;
}

.modal__weather {
  padding-left: 32px;
  margin-top: -12px;
  margin-bottom: 0;
}

.modal__close {
  position: absolute;
  top: 24px;
  right: 24px;
  background: none;
  border: none;
  font-size: 18px;
  cursor: pointer;
}
