.modal {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);
  display: none;
  justify-content: center;
  align-items: center;
  color: #000;
}
.modal_is-opened {
  display: flex;
}
.modal__content.modal__content_type_image {
  width: 498px;
  height: 610px;
  background-color: #ffffff;
  border-radius: 16px;
  box-sizing: border-box;
  padding: 0;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
}
.modal__image {
  width: 100%;
  height: 498px;
  object-fit: contain;
  display: block;
  background-color: #f3f3f3;
}
.modal__title {
  font-size: 20px;
  padding-left: 32px;

  padding-top: 16px;
  padding-bottom: 0;
  margin: 0;
}
.modal__weather {
  margin: 8px 0 0;
  padding: 0 24px 24px;
  font-size: 14px;
  color: #000;
}
.modal__close {
  position: absolute;
  top: 24px;
  right: 24px;
  background: none;
  border: none;
  font-size: 18px;
  cursor: pointer;
}
.modal__content_type_image {
  position: relative;
}
.modal__footer {
  display: flex;
  flex-direction: column;
  width: 100%;
  box-sizing: border-box;
}
.modal__footer > .title,
.modal__footer > .weather_text {
  display: flex;
  height: 56px;
}
.modal__footer > .title {
  justify-content: space-between;
}
.modal__footer > .weather_text {
  justify-content: flex-start;
  width: 100%;
}
.modal__footer > .weather_text > .modal__title {
  padding-top: 0;
}
.modal__delete {
  background: none;
  border: none;
  color: #ff4d00;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
  padding: 0;
  padding-right: 32px;
}
