.sidebar {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-left: 40px;
}

.sidebar__avatar {
  width: 56px;
  height: 56px;
  border-radius: 50%;
}

.sidebar__username {
  font-family: "Cabinet Grotesk", sans-serif;
  font-size: 20px;
  font-weight: 700;
  color: #000;
}
