.footer {
  width: 100%;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 24px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  box-sizing: border-box;
}

.footer__author,
.footer__year {
  margin: 0;
  font-family: "Cabinet Grotesk", sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: #000;
}
