.clothes-section {
  max-width: 1015px;
}

.clothes-section__header {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-top: 24px;
  margin-bottom: 24px;
}

.clothes-section__title {
  font-family: "Cabinet Grotesk", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #000;
  margin: 0;
  margin-left: 40px;
}

.clothes-section__add-new {
  background: none;
  border: none;
  padding: 0;

  font-family: "Cabinet Grotesk", sans-serif;
  font-size: 16px;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.6);

  cursor: pointer;
}

.cards {
  list-style: none;
  margin: 0;
  padding: 0;

  display: grid;
  grid-template-columns: repeat(3, 325px);
  gap: 20px;
  margin-left: 40px;
  margin-top: 34px;
}
